<main>
  <div class="container">
    <header>
      <div class="header-container">
        <div class="header__logo">
          <a href="./"><img src="../../../assets/images/logo.svg" alt="logo"></a>
        </div>

        <div class="header__menu">
          <div class="header__menu-item header__menu-item--curcle">
            <a href="https://www.linkedin.com/in/olha-kobylianska-0482a8237/" target="_blank"><img
                src="../../../assets/images/linkedin-logo.svg" alt="logo linkedin"></a>
          </div>
          <div class="header__menu-item header__menu-item--curcle">
            <a href="https://github.com/OlhaKobylianskaAlex" target="_blank"><img
                src="../../../assets/images/github-logo.svg" alt="logo github"></a>
          </div>
          <div class="header__menu-item">
            <button class="header__button">LOG IN</button>
          </div>
        </div>
      </div>
    </header>
    <div class="container-main">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>