// // colors
$buttons-black: #4a4a4a;
$buttons-light: rgb(221, 211, 118, 0.35);

$color-main: #635e2e;
$color-black: #4a4a4a;
$color-light: #d9d9d9;

// $color-main: rgba(0, 0, 0, 1);
// $color-primary: #55a747;
// $color-primary-1: #2d64ba;
// $color-primary-2: #387ae1;

// $color-light: #dcdfe7;
// $color-light-1: #f0f1f5;
// $color-light-2: #ffffff;

// $color-dark-1: #999;
// $color-dark-2: #59636d;
// $color-dark-3: #858e97;
// $color-dark-4: #b5bec8;

//gaps
// $width: 1050px;
// $gap-10: 10px;
// $gap-20: 20px;
// $gap-30: 30px;
// $gap-40: 40px;

// //Border radius of main elements like tables, cards, buttons

// $border-radius: 8px;

// //Font family

// $primary-font-family: 'Montserrat', sans-serif;
// $secondary-font-family: 'Open Sans', sans-serif;

// //Text colors

// $color-system-green-1: #06c270;
// $color-system-red-1: #ff3b3b;
// $color-system-orange-1: #ff8800;
